<meta charset='utf-8'>
<meta name='viewport" content='width=device-width, initial-scale=1'>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js' integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=' crossorigin='anonymous'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js' integrity='sha256-KM512VNnjElC30ehFwehXjx1YCHPiQkOPmqnrWtpccM=' crossorigin='anonymous'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js' crossorigin='anonymous'></script>
<script src='https://kit.fontawesome.com/27cde2e295.js' crossorigin='anonymous'></script>
<script src='{{ url_for("static", filename="js/mdp.js") }}'></script>
<script src='{{ url_for("static", filename="js/main.js") }}'></script>
<script src='{{ url_for("static", filename="js/scheduling.js") }}'></script>
<link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css' integrity='sha256-rByPlHULObEjJ6XQxW/flG2r+22R5dKiAoef+aXWfik=' crossorigin='anonymous' />
<link rel='stylesheet' type='text/css' href='//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css'>
<link rel='stylesheet' type='text/css' href='//cdn.jsdelivr.net/npm/pikaday/css/pikaday.css'>
<link rel='stylesheet' type='text/css' href='{{ url_for("static", filename="css/normalize.css") }}'/>
<link rel='stylesheet' type='text/css' href='{{ url_for("static", filename="css/main.css") }}'/>
<link rel='stylesheet' type='text/css' href='{{ url_for("static", filename="css/mdp.css") }}'/>
<link rel='apple-touch-icon-precomposed' sizes='57x57' href='{{ url_for("static", filename="favicon/apple-touch-icon-57x57.png") }}' />
<link rel='apple-touch-icon-precomposed' sizes='114x114' href='{{ url_for("static", filename="favicon/apple-touch-icon-114x114.png") }}' />
<link rel='apple-touch-icon-precomposed' sizes='72x72' href='{{ url_for("static", filename="favicon/apple-touch-icon-72x72.png") }}' />
<link rel='apple-touch-icon-precomposed' sizes='144x144' href='{{ url_for("static", filename="favicon/apple-touch-icon-144x144.png") }}' />
<link rel='apple-touch-icon-precomposed' sizes='60x60' href='{{ url_for("static", filename="favicon/apple-touch-icon-60x60.png") }}' />
<link rel='apple-touch-icon-precomposed' sizes='120x120' href='{{ url_for("static", filename="favicon/apple-touch-icon-120x120.png") }}' />
<link rel='apple-touch-icon-precomposed' sizes='76x76' href='{{ url_for("static", filename="favicon/apple-touch-icon-76x76.png") }}' />
<link rel='apple-touch-icon-precomposed' sizes='152x152' href='{{ url_for("static", filename="favicon/apple-touch-icon-152x152.png") }}' />
<link rel='icon' type='image/png' href='{{ url_for("static", filename="favicon/favicon-196x196.png") }}' sizes='196x196' />
<link rel='icon' type='image/png' href='{{ url_for("static", filename="favicon/favicon-96x96.png") }}' sizes='96x96' />
<link rel='icon' type='image/png' href='{{ url_for("static", filename="favicon/favicon-32x32.png") }}' sizes='32x32' />
<link rel='icon' type='image/png' href='{{ url_for("static", filename="favicon/favicon-16x16.png") }}' sizes='16x16' />
<link rel='icon' type='image/png' href='{{ url_for("static", filename="favicon/favicon-128.png") }}' sizes='128x128' />
<meta name='{{ url_for("static", filename="favicon/application-name") }}' content='&nbsp;'/>
<meta name='{{ url_for("static", filename="favicon/msapplication-TileColor") }}' content='#FFFFFF' />
<meta name='{{ url_for("static", filename="favicon/msapplication-TileImage") }}' content='mstile-144x144.png' />
<meta name='{{ url_for("static", filename="favicon/msapplication-square70x70logo") }}' content='mstile-70x70.png' />
<meta name='{{ url_for("static", filename="favicon/msapplication-square150x150logo") }}' content='mstile-150x150.png' />
<meta name='{{ url_for("static", filename="favicon/msapplication-wide310x150logo") }}' content='mstile-310x150.png' />
<meta name='{{ url_for("static", filename="favicon/msapplication-square310x310logo") }}' content='mstile-310x310.png' />